*.pyc
**/__pycache__/
.pytest_cache/*
.pydevproject

# IDE
.vscode/*

# Pip
*.egg-info

# files
*.log
*.jpg
*.pcd

# lsf
*.bsub

# temp
temp/*

# data (symlink or dir)
data

# pretrained
pretrained/

# output
planning_table.txt
runs
